html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none !important;
}


button:focus {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}